*{
    background-color: #111827;
}

.head_text{
    font-family: 'Galada', cursive;
    color: rgb(245, 187, 100);
    font-size: 500%;
}

.Logo_text{
    font-family: 'Alegreya Sans SC', sans-serif;
    color: rgb(255, 255, 255);
    font-size: 300%;
} 
  img:hover { 
    border: 5px solid rgb(248, 113, 113); 
    border-radius: 5px;
  } 